@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lato:wght@300;400;700&display=swap');


/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Typography */
h1 {
    font-family: 'Itim', cursive;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 1px;
    font-style: normal;
    color: #000;
}

p {
    margin-top: 5px;
    color: #000;
    font-family: Lato, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 200% */
    letter-spacing: 1.5px;
}

/* Elements */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}


ul {
    list-style-type: none;
    display: flex;
}

li {
    margin: 10px;
}

nav {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    flex-shrink: 0;
    justify-content: space-between;
    margin: 30px 145px;
    white-space: nowrap;

}

nav a {
    text-decoration: none;
    /* Change to white later */
    color: black;
    margin: 20px;
}

body {
    height: 100%;
}

main {
    margin-top: 100px;
    padding: 26px 31px;
}

button {
    margin-top: 35px;
    border-radius: 5px;
    background: #00704A;
    color: white;
    box-shadow: 20px 20px 40px 0px #E5E5E5;
    font-size: 30px;
    text-decoration: none;
    border: none;
    width: 263px;
    height: 89px;
}

/* Class */
.logo {
    margin-left: 25px;
    width: 73px;
    height: 61px;
}

.container {
    display: flex;
    margin: 0 145px;
}

.hero-content {
    width: 641px;
    flex-direction: column;
    justify-content: center;

}

.hero-image {
    background-image: url("images/frappe.png");
    background-size: cover;
    overflow-y: hidden;
    width: 510px;
    height: 496px;
    flex-shrink: 0;

}

/* ID */
